<a href="https://colab.research.google.com/github/nathencinoza/pandas-movies-database/blob/main/C5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

C5) ¿Cúal es la película cuya entropía de las ratings que recibe es más alta? Esta será la película con opiniones más variadas. Considere sólo películas con más de 30 ratings.

In [ ]:
import pandas as pd
from scipy.stats import entropy

In [ ]:
movies = pd.read_csv('/content/drive/MyDrive/Orga 2/Movie dataset/movies.csv', usecols = ['id', 'title','release_date'], low_memory=False)

In [ ]:
movies.loc[19730,['id','release_date']] = movies.loc[19730,['release_date','id']].values
movies.loc[29503,['id','release_date']] = movies.loc[29503,['release_date','id']].values
movies.loc[35587,['id','release_date']] = movies.loc[35587,['release_date','id']].values
movies = movies[['id', 'title']]

In [ ]:
ratings = pd.read_csv('/content/drive/MyDrive/Orga 2/Movie dataset/ratings.csv', usecols=['movieId', 'rating'])
ratings.head(10)

   movieId  rating
0      110     1.0
1      147     4.5
2      858     5.0
3     1221     5.0
4     1246     5.0
5     1968     4.0
6     2762     4.5
7     2918     5.0
8     2959     4.0
9     4226     4.0

Considero sólo películas con más de 30 rating

In [ ]:
df = ratings[ratings.groupby('movieId')['movieId'].transform('size') > 30]

Calculo la entropía de cada película

In [ ]:
df2 = df.groupby('movieId')['rating'].apply(lambda x : entropy(x.value_counts(normalize = True), base=2)).reset_index()
df2 = df2.rename(columns = {'movieId': 'id', 'rating': 'entropy'})
df2.head(5)

   id   entropy
0   1  2.524001
1   2  2.719921
2   3  2.522014
3   4  2.499841
4   5  2.507205

In [ ]:
movies['id'] = movies['id'].astype(int)

In [ ]:
df3 = movies.merge(df2[["id", "entropy"]])
df3.head(10)

     id                  title   entropy
0   862              Toy Story  2.382906
1  8844                Jumanji  2.680285
2   949                   Heat  2.338339
3   710              GoldenEye  2.432484
4  1408       Cutthroat Island  2.635647
5   524                 Casino  2.731544
6  4584  Sense and Sensibility  2.929640
7     5             Four Rooms  2.507205
8  8012             Get Shorty  2.605886
9   451      Leaving Las Vegas  2.203954

Película con entropía de las ratings más alta

In [ ]:
df3[df3['entropy'] == df3['entropy'].max()]

         id                             title   entropy
3737  59429  Paranormal Activity: Tokyo Night  3.248086