<a href="https://colab.research.google.com/github/nathencinoza/pandas-movies-database/blob/main/N6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sklearn 
import nltk 
import numpy as np

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.neighbors import NearestNeighbors

In [ ]:
from nltk.corpus import stopwords
nltk.download('stopwords')
stopwords = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Orga 2/Movie dataset/movies.csv", usecols = ['overview', 'genres'], low_memory=False)

In [ ]:
df = df.dropna()
df

,genres,overview
0,"Animation,Comedy,Family","Led by Woody, Andy's toys live happily in his ..."
1,"Adventure,Fantasy,Family",When siblings Judy and Peter discover an encha...
2,"Romance,Comedy",A family wedding reignites the ancient feud be...
3,"Comedy,Drama,Romance","Cheated on, mistreated and stepped on, the wom..."
4,Comedy,Just when George Banks has recovered from his ...
...,...,...
45459,Science Fiction,It's the year 3000 AD. The world's most danger...
45460,"Drama,Action,Romance","Yet another version of the classic epic, with ..."
45461,"Drama,Family",Rising and falling between a man and woman.
45462,Drama,An artist struggles to finish his work while a...
45463,"Action,Drama,Thriller","When one of her hits goes wrong, a professiona..."

In [ ]:
count_vectorizer = CountVectorizer(lowercase=True, stop_words=stopwords, max_features=100000)
matriz = count_vectorizer.fit_transform(df['overview'])

In [ ]:
find_neighbors = NearestNeighbors(metric='cosine', algorithm='brute').fit(matriz)

Primera película

In [ ]:
overview_1 = df.loc[np.random.choice(df.index, size=1)]
overview_1

       genres                                           overview
23550  Comedy  Sometimes in order to move forward, you have t...

In [ ]:
distancias, indices = find_neighbors.kneighbors(count_vectorizer.transform([overview_1.iloc[-1]['overview']]), n_neighbors = 10)
print("Distancia: \n",distancias[0])

Distancia:
 [0.         0.72222222 0.73580203 0.75922829 0.76190476 0.7883157
 0.78918149 0.79484752 0.79587585 0.79899244]

In [ ]:
df1 = pd.DataFrame([df.iloc[indices[row,col]] for row in range(indices.shape[0]) for col in range(indices.shape[1])])
df1

,genres,overview
23550,Comedy,"Sometimes in order to move forward, you have t..."
29798,Comedy,Luokkakokous is a story about three men that t...
22985,"Comedy,Drama,Crime",Years after walking away from her past as a te...
32168,Horror,Six people are trapped within the confines of ...
37506,Comedy,Diogo's 20th high school class reunion is comi...
43731,"Animation,Family",SKRM (Skultimate Roller Maze) is an annual tou...
12081,"Comedy,Romance",Taken aback by his mother's wedding announceme...
43871,"Comedy,Romance",A high school romantic comedy about freshman V...
27575,"TV Movie,Comedy",The classic comic book characters created by J...
2295,"Comedy,Drama,Science Fiction",The old age pensioners that left at the end of...

In [ ]:
df1['genres'] = df1['genres'].str.split(',')
df1.explode('genres')['genres'].value_counts().head(1)

Comedy    8
Name: genres, dtype: int64

Segunda película

In [ ]:
overview_2 = df.loc[np.random.choice(df.index, size=1)]
overview_2

              genres                                           overview
36584  Romance,Drama  In a European seaside village, a maiden takes ...

In [ ]:
distancias, indices = find_neighbors.kneighbors(count_vectorizer.transform([overview_2.iloc[-1]['overview']]), n_neighbors = 10)
df2 = pd.DataFrame([df.iloc[indices[row,col]] for row in range(indices.shape[0]) for col in range(indices.shape[1])])
df2['genres'] = df2['genres'].str.split(',')
df2.explode('genres')['genres'].value_counts().head(1)

Romance    7
Name: genres, dtype: int64

Tercera película

In [ ]:
overview_3 = df.loc[np.random.choice(df.index, size=1)]
overview_3

,genres,overview
280,"Action,Thriller,Crime,Drama","Allegedly based on a true story, this film fol..."

In [ ]:
distancias, indices = find_neighbors.kneighbors(count_vectorizer.transform([overview_3.iloc[-1]['overview']]), n_neighbors = 10)
df3 = pd.DataFrame([df.iloc[indices[row,col]] for row in range(indices.shape[0]) for col in range(indices.shape[1])])
df3['genres'] = df3['genres'].str.split(',')
df3.explode('genres')['genres'].value_counts().head(1)

Drama    8
Name: genres, dtype: int64

Cuarta película

In [ ]:
overview_4 = df.loc[np.random.choice(df.index, size=1)]
overview_4

,genres,overview
20626,"TV Movie,Crime,Drama,Mystery",Haunted by the murder of her politician husban...

In [ ]:
distancias, indices = find_neighbors.kneighbors(count_vectorizer.transform([overview_4.iloc[-1]['overview']]), n_neighbors = 10)
df4 = pd.DataFrame([df.iloc[indices[row,col]] for row in range(indices.shape[0]) for col in range(indices.shape[1])])
df4['genres'] = df4['genres'].str.split(',')
df4.explode('genres')['genres'].value_counts().head(1)

Crime    7
Name: genres, dtype: int64

Quinta película

In [ ]:
overview_5 = df.loc[np.random.choice(df.index, size=1)]
overview_5

                genres                                           overview
29930  Science Fiction  From a torturous cell in Africa, Abel Powell i...

In [ ]:
distancias, indices = find_neighbors.kneighbors(count_vectorizer.transform([overview_5.iloc[-1]['overview']]), n_neighbors = 10)
df5 = pd.DataFrame([df.iloc[indices[row,col]] for row in range(indices.shape[0]) for col in range(indices.shape[1])])
df5['genres'] = df5['genres'].str.split(',')
df5.explode('genres')['genres'].value_counts().head(1)

Action    6
Name: genres, dtype: int64

Sexta película  (crepúsculo jaja)

In [ ]:
overview_6 = ["When Bella Swan moves to a small town in the Pacific Northwest, she falls in love with Edward Cullen, a mysterious classmate who reveals himself to be a 108-year-old vampire." ]
overview_6

['When Bella Swan moves to a small town in the Pacific Northwest, she falls in love with Edward Cullen, a mysterious classmate who reveals himself to be a 108-year-old vampire.']

In [ ]:
distancias, indices = find_neighbors.kneighbors(count_vectorizer.transform(overview_6), n_neighbors = 10)
df6 = pd.DataFrame([df.iloc[indices[row,col]] for row in range(indices.shape[0]) for col in range(indices.shape[1])])
df6['genres'] = df6['genres'].str.split(',')
df6.explode('genres')['genres'].value_counts().head(1)

Drama    7
Name: genres, dtype: int64