<a href="https://colab.research.google.com/github/nathencinoza/pandas-movies-database/blob/main/P13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Según los cinéfilos, ¿cuál es el rating promedio de las 5 películas más populares? Un usuario es cinéfilo cuando puntuó más de 50 películas y todas las puntuaciones son de más de 2.5 estrellas. Indicar id, título, popularidad y rating promedio de la película.

In [ ]:
import pandas as pd

In [ ]:
movies = pd.read_csv('/content/drive/MyDrive/Orga 2/Movie dataset/movies.csv', usecols =['id', 'title', 'popularity'], low_memory=False)

In [ ]:
ratings = pd.read_csv('/content/drive/MyDrive/Orga 2/Movie dataset/ratings.csv', usecols = ['userId',	'movieId', 'rating'])

Busco los users cinéfilos y calculo promedio de los ratings de las películas

In [ ]:
ratings = ratings[ratings['rating'] > 2.5]

In [ ]:
ratings = ratings[ratings.groupby('userId')['userId'].transform('size') > 50]
ratings.head(5)

    userId  movieId  rating
59       4      223     4.0
60       4      415     4.0
61       4      648     4.0
62       4     1097     5.0
63       4     1197     4.0

In [ ]:
ratings['average_rating'] = ratings.groupby('movieId')['rating'].transform('mean')
df = ratings[['movieId', 'average_rating']].rename(columns = {'movieId': 'id'})
df['id'] = df['id'].astype(str) 
df.head(5)

      id  average_rating
59   223        4.075030
60   415        3.280678
61   648        3.673432
62  1097        3.974559
63  1197        4.292578

Busco películas populares según los cinéfilos

In [ ]:
df2 = movies.merge(df[["id", "average_rating"]])
df2 = df2[['id', 'title', 'average_rating', 'popularity']]
top5 = df2.drop_duplicates().sort_values('popularity', ascending = False).head(5)

Top 5 películas más populares según los cinéfilos

In [ ]:
top5

           id                         title  average_rating popularity
386556     78                  Blade Runner        3.508159  96.272374
5288881    25                       Jarhead        3.970829   9.997032
6072384  2009  4 Months, 3 Weeks and 2 Days        3.764920   9.990406
6162025  6538          Charlie Wilson's War        3.695102   9.979162
3050119  2057                  Original Sin        3.668539   9.970359