<a href="https://colab.research.google.com/github/nathencinoza/pandas-movies-database/blob/main/P9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**P9) De las películas que están siendo rumoreadas, ¿cuál es el título de la que presenta el presupuesto más alto?**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Orga 2/Movie dataset/movies.csv',usecols = ['status','title', 'budget'], low_memory=False)

In [ ]:
df.head(10)

     budget    status                        title
0  30000000  Released                    Toy Story
1  65000000  Released                      Jumanji
2         0  Released             Grumpier Old Men
3  16000000  Released            Waiting to Exhale
4         0  Released  Father of the Bride Part II
5  60000000  Released                         Heat
6  58000000  Released                      Sabrina
7         0  Released                 Tom and Huck
8  35000000  Released                 Sudden Death
9  58000000  Released                    GoldenEye

In [ ]:
df['status'].unique()

array(['Released', nan, 'Rumored', 'Post Production', 'In Production',
       'Planned', 'Canceled'], dtype=object)

In [ ]:
df = df[df['status'] == 'Rumored']

In [ ]:
df.head(5)

     budget   status                 title
682       0  Rumored        Butterfly Kiss
775       0  Rumored  A Very Natural Thing
1032      0  Rumored         The Sunchaser
1478      0  Rumored       The War at Home
1513      0  Rumored         Love Serenade

In [ ]:
df = df[['title', 'budget']]
df.head(5)

                     title budget
682         Butterfly Kiss      0
775   A Very Natural Thing      0
1032         The Sunchaser      0
1478       The War at Home      0
1513         Love Serenade      0

In [ ]:
df['budget'] = df['budget'].astype(int)

Resultado:

In [ ]:
df[df['budget'] == df['budget'].max()]

                     title   budget
16194  Against the Current  3000000
43996        Lovey-Dovey 2  3000000